# Compiler files
cache/
out/
zkout/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Node.js dependencies
node_modules/

# Dotenv file
.env

# IDE/editor files
.vscode/
.DS_Store

# Log files
*.log

# Misc
*.tmp
*.swp
